nav {
    text-align: center;
    height:auto;
    margin:10px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;

    margin: 0 5px 0 0;

}
nav li a {
    border: solid;
    border-width: 1px 1px 0 1px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    text-decoration:none;
    padding: 2px 5px;
    color:#000000;
}
nav li a.active {
    background: #dddddd;
}
.stat-row {
    font-size: 1.5em;
    text-align: center;
}
#board {
    width:9em;
    height:auto;
    font-size:3em;
    border:1px solid black;
    margin:0 auto;
}
.cell {
    width:3em;
    height:3em;
    float:left;
    outline:1px solid black;
    line-height: 3em;
    vertical-align: middle;
    text-align: center;
}
.cell-o {
    color:#FF965D;
}
.cell-x {
    color:#3487FF;
}
.player {
    width:100px;
    font-size:50px;
    float:left;
    text-align: center;
}
.player.active {
     background:#FF965D;
}
#menu {
    margin:0 auto;
    margin: 0 auto;
    height: 120px;
    width: 200px;
}
#menu.win .player.active{
    background: green;
}
.draw {
    text-align: center;
    font-size: 30px;
}
.hidden {
    display : none;
}
.shown {
    display : block;
}
#main-container {
    height:100%;
    width:100%;
}